.wiggle {

	input[type="text"],
	input[type="email"]  {
		@include font-medium();
		display: block;
		width: 100%;
		height: calc(2rem + 0.75rem + 2px);
		padding: 0.5rem 0.75rem;
		font-weight: 700;
		line-height: 1.5;
		color: $black;
		background-color: $white;
		background-clip: padding-box;
		border: 1px solid transparent;
		margin-bottom: .5rem;
		border-radius: 0;
		transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	}

	label {
		@include font-medium();
		display: block;
		color: $white;
		text-transform: uppercase;
	}

	button[type="submit"] {
		@include font-small();
		padding: $spacerX2 0.5rem;
		color: $black;
		display: block;
		width: 100%;
		color: $black;
		text-align: center;
		vertical-align: middle;
		cursor: pointer;
		background-color: $white;
		border: 1px solid transparent;
		line-height: 1.5;
		border-radius: 0;
		text-transform: uppercase;
		transition: .3s all ease-in-out;

		&:hover {
			text-decoration: none;
			color: $white;
			background-color: $black;
			border-color: $white;
		}

		&:focus {
		  outline: 0;
		  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
		}
	}

	.wiggle-form {
		@include font-small();
		text-align: left;
	}

	.form-group {
		margin-bottom: $spacerX1;
	}
}