$font-huge:    3rem;
$font-big:     2.25rem;
$font-medium:  1.5rem;
$font-small:   1.25rem;
$font-regular: 1rem;

$spacerX1: 1rem;
$spacerX2: 1.5rem;
$spacerX3: 3rem;
$spacerX4: 5rem;
$spacerX5: 10rem;

$black: #000;
$white: #fff;
$gray: #D3D3D3;